.element {
  max-width: 882px;
  padding-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
}

.element__card {
  position: relative;
  background-color: #ffff;
  width: 282px;
  height: 361px;
  box-shadow: 0px 0px 25px 0px #00000026;
  overflow: hidden;
}

.element__image {
  width: 282px;
  height: 282px;
}

.element__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 25px 0 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  background-image: url(/images/Group.png);
  position: absolute;
  right: 10px;
  bottom: 25px;
  width: 24px;
  height: 21px;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffff;
}

.element__like-button:hover {
  opacity: 0.6;
}

.element__like-button:active {
  background-image: url("/images/Union.png");
  background-repeat: no-repeat;
  width: 21px;
  max-height: 18px;
  border: 0;
  cursor: pointer;
  margin-top: 25px;
  background-color: transparent;
}

.element__delete-button {
  background-image: url(/images/Trash.png);
  position: absolute;
  width: 24px;
  height: 22px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  top: 18px;
  left: 247px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.element__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .elements {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .elements {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;
  }
}

@media screen and (max-width: 400px) {
  .element__card {
    margin: auto;
  }
}
